@charset "utf-8";

svg{
    width:600px; height:400px;
    box-shadow: 0 0 10px 1px #ccc;
    -webkit-box-shadow: 0 0 10px 1px #ccc;
    background:url(../img/grid.gif);
}

body{
    text-align:center;
}

polygon{
    stroke:hotpink;
}

@keyframes anim{
    0%{
        transform:translateY(0);
        -webkit-transform:translateY(0);
        -ms-transform:translateY(0);
    }
    
    25%{
        transform:translateY(200px);
        -webkit-transform:translateY(200px);
        -ms-transform:translateY(200px);
    }
    
    
    50%{
        transform:translateY(0);
        -webkit-transform:translateY(0);
        -ms-transform:translateY(0);
    }
    
    75%{
        transform:translateX(100px);
        -webkit-transform:translateX(100px);
        -ms-transform:translateX(100px);
    }
    
    100%{
        transform:translateX(0);
        -webkit-transform:translateX(0);
        -ms-transform:translateX(0);
    }
    
}


@-webkit-keyframes anim{
    0%{
        transform:translateY(0);
        -webkit-transform:translateY(0);
        -ms-transform:translateY(0);
    }
    
    25%{
        transform:translateY(200px);
        -webkit-transform:translateY(200px);
        -ms-transform:translateY(200px);
    }
    
    
    50%{
        transform:translateY(0);
        -webkit-transform:translateY(0);
        -ms-transform:translateY(0);
    }
    
    75%{
        transform:translateX(100px);
        -webkit-transform:translateX(100px);
        -ms-transform:translateX(100px);
    }
    
    100%{
        transform:translateX(0);
        -webkit-transform:translateX(0);
        -ms-transform:translateX(0);
    }
    
}


@-moz-keyframes anim{
    0%{
        transform:translateY(0);
        -webkit-transform:translateY(0);
        -ms-transform:translateY(0);
    }
    
    25%{
        transform:translateY(200px);
        -webkit-transform:translateY(200px);
        -ms-transform:translateY(200px);
    }
    
    
    50%{
        transform:translateY(0);
        -webkit-transform:translateY(0);
        -ms-transform:translateY(0);
    }
    
    75%{
        transform:translateX(100px);
        -webkit-transform:translateX(100px);
        -ms-transform:translateX(100px);
    }
    
    100%{
        transform:translateX(0);
        -webkit-transform:translateX(0);
        -ms-transform:translateX(0);
    }
    
}


@-ms-keyframes anim{
    0%{
        transform:translateY(0);
        -webkit-transform:translateY(0);
        -ms-transform:translateY(0);
    }
    
    25%{
        transform:translateY(200px);
        -webkit-transform:translateY(200px);
        -ms-transform:translateY(200px);
    }
    
    
    50%{
        transform:translateY(0);
        -webkit-transform:translateY(0);
        -ms-transform:translateY(0);
    }
    
    75%{
        transform:translateX(100px);
        -webkit-transform:translateX(100px);
        -ms-transform:translateX(100px);
    }
    
    100%{
        transform:translateX(0);
        -webkit-transform:translateX(0);
        -ms-transform:translateX(0);
    }
    
}


@-o-keyframes anim{
    0%{
        transform:translateY(0);
        -webkit-transform:translateY(0);
        -ms-transform:translateY(0);
    }
    
    25%{
        transform:translateY(200px);
        -webkit-transform:translateY(200px);
        -ms-transform:translateY(200px);
    }
    
    
    50%{
        transform:translateY(0);
        -webkit-transform:translateY(0);
        -ms-transform:translateY(0);
    }
    
    75%{
        transform:translateX(100px);
        -webkit-transform:translateX(100px);
        -ms-transform:translateX(100px);
    }
    
    100%{
        transform:translateX(0);
        -webkit-transform:translateX(0);
        -ms-transform:translateX(0);
    }
    
}

.anim{
    animation: anim 5s ease-in-out infinite;
}

.sky{
    animation: sunset 7s ease-in-out infinite;
	        transform-origin: 50% 50% ;
}
#sea{
    animation: sea 7s ease-in-out infinite;
}

.cloud{
    fill:#646464;
    fill-opacity:.5;
}

.moon{
    fill:yellow;
}
.m{
    opacity:.6;
}

@keyframes sunset{
    0%{
        -webkit-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    50%{
        -webkit-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        transform:rotate(180deg);
    }
    100%{  
			-webkit-transform:rotate(360deg);
			-ms-transform:rotate(360deg);
			transform:rotate(360deg);
	}
}

@keyframes sea{
    0%,100%{
        transform:translate(0);
    }
    50%{
        transform:translate(-400px);
    }
}


