@charset "utf-8";
svg{
    margin: 10% auto 0;
    width:600px;
    height:400px;
    transform:scale(2);
}
body{
    text-align:center;
}
.sky{
    animation: sunset 7s ease-in-out infinite;
    transform-origin: 50% 50% ;
}
#sea{
    animation: sea 7s ease-in-out infinite;
}
.cloud{
    fill:#646464;
    fill-opacity:.5;
}
.moon{
    fill:yellow;
}
.m{
    opacity:.6;
}

@keyframes sunset{
    0%{
        -webkit-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    50%{
        -webkit-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        transform:rotate(180deg);
    }
    100%{  
			-webkit-transform:rotate(360deg);
			-ms-transform:rotate(360deg);
			transform:rotate(360deg);
	}
}

@keyframes sea{
    0%,100%{
        transform:translate(0);
    }
    50%{
        transform:translate(-400px);
    }
}


